@mixin space-m-small {
  margin: .5rem;
}
@mixin space-m-h-small {
  margin: 0 .5rem;
}
@mixin space-m-h-med {
  margin: 0 1rem;
}

@mixin space-p-h-med {
  padding: 0 1rem;
}
@mixin space-p-small {
  padding: .5rem;
}
@mixin space-p-med {
  padding: 1rem;
}
@mixin space-p-big {
  padding: 2rem;
}